@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


/* all the container which have the display property flex and direction row */
.dflexRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: #ed1c24;
    color: white;
    border: none;   
}

/* all the containers which have the display propery flex and direction column */
.dflexCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkBtn{
    cursor: pointer;
}

#check,.HamContent{
    display: none;
}

html,body {
    height: 100%;
    width: 100%;
}

.firstContainer {
    position: relative;
    width: 100%;
    color: white;
}

.mainContainer {
    height: 100%;
    width: 100%;
}

/* nav Bar */
.navBar {
    position: relative;
    padding: 2% 3%;
    background-color: #ed1c24;
}

.navBox {
    height: 17px;
    width: 17px;
    position: absolute;
}

.navLeft {
    letter-spacing: 1px;
    padding-left: 4%;
    position: relative;
    font-size: 13px
}

.boxOne {
    background-color: #ff7004;
    left: 0;
    z-index: 3;
    top: 0;
}

.boxTwo {
    background-color: #f4f3ee;
    left: 8%;
    z-index: 2;
    top: 33%;
}

.boxThree {
    background-color: #121111;
    left: 3%;
    top: 15%;
    z-index: 1;
}

.navRight span {
    display: block;
    border: 1.5px solid #f4f3ee;
    border-radius: 2px 2px 2px 2px;
}

.navRight {
    z-index: 1000;
}

.line {
    width: 32px;
}

.spanTwo {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 17px;
    margin-left: auto;
}


/* container one */
.topContainer {
    width: 100%;
    background-color: #ed1c24;
    padding: 8% 14% 13% 14%;
}

.topContainerHeading {
    font-size: 60px;
    line-height: 0.9;
}

.topContainerHeading h1 {
    font-weight: 500;
    position: relative;
    z-index: 1000;
}

.topContaninerPara {
    padding: 3% 0 4% 0;
    width: 40%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
}

.contactUsButton {
    padding: 1% 0;
    width: 15%;
    text-align: center;
    background-color: #fefefe;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.contactUsButton a {
    color: black;
    font-size: 15px;
}

.topRightContainerImg {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
}

.imageArrow {
    position: absolute;
    width: 6%;
}

.imageRightArrowCont {
    left: 43%;
    bottom: 10%;
    background-color: #ed1c24;
    padding: 0.5% 0.1% 0.5% 4.2%;
}

.imageLeftArrowCont {
    bottom: 5.2%;
    left: 41%;
    background-color: #ab9d92;
    padding: 0.5% 0.1% 0.5% 4.2%;
    transform: rotate(180deg);
}

.zeroOneTextCont {
    position: absolute;
    bottom: 7%;
    width: 4%;
    text-align: center;
}

.zeroOneText {
    position: relative;
}

.zeoOneline {
    width: 100%;
    position: absolute;
    border: 1px solid white;
    left: 0;
    bottom: 47%;
}

.zeroOneTextContOne {
    left: 3%;
}

.zeroOneTextContTwo {
    right: 3%;
}

.zeroOneText p {
    font-size: 14px;
}

.topContHiddenImg,.aboutHiddenHeading,.aboutLeftHiddenImg {
    display: none;
}


/* services container css */
.services {
    color: black;
    padding: 6% 14% 8% 14%;
    text-align: center;
}

.servicesText {
    padding-bottom: 4%;
}

.services h2 {
    font-size: 33px;
    font-weight: 500;
}

.services p {
    font-size: 14px;
}

.servicesCardsContainer {
    width: 100%;
}

.serviceCard {
    width: 19%;
}

.serviceImg {
    width: 33%;
}

.serviceCardGap {
    padding-bottom: 4%;
}


/* services cards */
.cardHeading h2 {
    font-size: 17px;
}

.cardPara p {
    font-size: 13px;
    color: #b1b1b1;
}

.readMoreButton {
    padding-top: 4%;
}

.readMoreButton button {
    padding: 4px 12px;
    font-size: 12px;
}


/* about container */
.aboutContainer{
    width: 100%;
    padding: 8% 14% 8% 16%;
    background-color: #f3f3f3;
}

.aboutContent{
    display: flex;
    justify-content: space-between;
}

.aboutLeft,.aboutRight{
    width: 46%;
    position: relative;
}

.aboutLeftBgImg{
    position: absolute;
    width: 100%;
    top: 5%;
    right: 5%;
}

.aboutLeftTopImg img{ 
    z-index: 1000;
    position: relative;
}

.aboutRightImg{
    position: absolute;
    top: -2%;
    left: 0;
    width: 100%;
}

.aboutRightContent{
    position: relative;
    padding: 10% 2% 1% 8%;
}

.aboutRightContent h1{
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 3%;
}

.aboutRightContent p{
    font-size: 13px;
    padding-bottom: 6%;
    line-height: 1.7;
}

.aboutContainer button{
    float: right;
    padding: 1% 4%;
    border-radius: 6px;
}

.circle{
    position: absolute;
    height: 10%;
    width: 9%;
    border-radius: 50%;
    z-index: 2000;
}

.red{
    background-color: red;
    left: -4%;
    top: -4%;
}

.orange{
    left: -4%;
    bottom: -1%;
    background-color: #ff7004;
}

.black{
    right: -5%;
    top: 39%;
    background-color: black;
}

.conceptContainer{
    width: 100%;
    padding: 6% 14% 6% 14%;
}

.conceptCards{
    display: flex;
    justify-content: space-between;
}

.conceptCrd{
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    cursor: pointer;
    position: relative;
}

.conceptContainerCenterText{
    text-align: center;
    padding-bottom: 8%;
}

.conceptContainerCenterText h1{
    font-weight: 500;
}

.conceptContainerCenterText p{
    font-size: 14px;
}

.conceptCrd{
    position: relative;
    transition: 0.5s;
}

.conceptCrd:hover{
    transform: translateY(-9px);
}


/* to create a hover effect and reflect a circle in the background */
.conceptCardBgEffect{
    position: absolute;
    top: 27%;
    left: 41%;
    width: 18%;
    height: 19%;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.6);
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.conceptCrd:hover .conceptCardBgEffect {
    opacity: 1;
    visibility: visible; 
    transition-delay: 0s;
}

.conceptCrdHeading h2{
    font-weight: bold;
    font-size: 15px;    
}

.conceptCrdPara {
    font-size: 12px;
    word-break: break-all;
}


/* who we are container */
.whoWeAreContainer{
    width: 100%;
    padding: 4% 14% 4% 14%;
    background-image: url(./images/whoWeAreBgImg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.whoWeAreContent{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.whoWeAreContentHeading h3{
    font-size: 17px;
    font-weight: 500;
}

.whoWeAreContentHeading h1{
    font-size: 37px;
    font-weight: 500;
}

.whoWeAreContentPara{
    font-size: 13px;
}

.getQuoteButton button{
    padding: 4px 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.projects{
    width: 100%;
    padding: 4% 14% 5% 14%;
    text-align: center;
}

.projectsText{
    padding-bottom: 5%;
    line-height: 1.5;
}

.projectsHeading{
    font-weight: 500;
}

.projectsPara{
    font-size: 12px;
}

.projectImgContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.projectImg{
    width: 32%;
    position: relative;
    cursor: pointer;
}


/* create the hover effect and add a layer of red color on the image */
.imageHoverColor{
    width: 100%;
    height: 98%;
    background-color: rgba(255, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    z-index: 1000;
}

.imageHoverColor p{
    width: 6rem;
    text-align: center;
    margin: auto;
    margin-top: 40%;
    border: 1px solid white;
    padding: 3%;
    font-size: 10px;
}

.projectImg:hover .imageHoverColor {
    opacity: 1;
    visibility: visible; 
    transition-delay: 0s;
}

.projectCaption{
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    width: 100%;
    bottom: 10%;
    z-index: 2000;
    font-size: 10px
}

.projectArrow{
    position: absolute;
    font-size: 21px;
    border: none;
    padding: 3px 15px;
    background: black;
    color: white;
    top: 40%;
    cursor: pointer;
    transition: all 0.5s;
}

.projectArrow:hover{
    background-color: rgba(2555,0,0,0.8);
    transform: rotate(360deg);
    border-radius: 9px;
}

.projectLeftSlider{
    left: -9rem;
}

.projectRightSlider{
    right: -9rem;
}

/* client card */
.clientReview{
    padding: 1% 14% 3% 14%;
}

.clientCadsImg{
    width: 15%;
    position: relative;
}

.clientCardInfo{
    width: 40%;
}

.clientCardInfo h4{
    font-weight: 600;
}

.clientCards{
    width: 100%;
    display: flex;
    gap: 2%;
    padding-bottom: 5%;
    position: relative;
}

.clientReviewContent p{
    font-size: 14px;
}

.clientCardInfo p{
    color: #b1b1b1;
}

.clientReviewHeading{
    text-align: center;
    padding-bottom: 8%;
}

.clientReviewHeading h1{
    font-weight: 600;
}

.doubleInvertedComma{
    position: absolute;
    z-index: 1000;
    left: 42%;
    bottom: 4px;
}

.clientReviewCardEven{
    justify-content: flex-end;
}

.clientReadMoreBtn button{
    background: transparent;
    border: none;
    color: white;
    flex-direction: ;
}

.clientReadMoreBtn{
    position: absolute;
    right: 0;
    top: 17%;
    background-color: #ed1c24;
    border: none;
    padding: 10px 31px;
    border-radius: 4px;
}

.contactUsContainer{
    padding: 6% 14% 6% 14%;
    background-image: url(./images/contactUsBgImg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.contactUsBackgroundColor{
    background-color: rgba(255, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contactUsContent{
    z-index: 1000;
    position: relative;
}

.contactUsHeading h1{
    font-weight: 600;
    color: white;
}

.contactUsFormContent{
    padding-top: 3%;
    z-index: 1000;
    position: relative;
}


/* this is form section */
form{
    width: 100%;
}

.contactUsForm{
    width: 100%;
}

.formImgAndInput{
    display: flex;
    justify-content: space-between;
}

.formImg,.formInput{
    width: 49%;
}

.formImg{
    background-image: url(./images/map.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

input{
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    border: none;
}

textarea{
    width: 100%;
    resize: none;
    padding: 7% 2%;
    border-radius: 5px;
}

.inputFormGap{
    padding-bottom: 5.6%;
}

.contactUsForm button{
    padding: 1% 4%;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    margin-top: 3%;
    color: white;
    border: 2px solid white;
}

.footer{
    padding: 6% 14% 4% 14%;
    background-color: #1c1b2d;
    color: white;
}

.footerContent{
    display: flex;
    justify-content: space-between;
}

.footerLeft,.footerRight{
    width: 46%;
    display: flex;
    justify-content: space-between;
}

.footerCard{
    width: 45%;
}

.footerCard a{
    color: white;
}

.footerCard h2{
    font-weight: 700;
    line-height: 1;
    padding-bottom: 10%;
    font-size: 29px;
}

.footerCard h3{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 10%;
}

.footerCard p{
    word-break: break-all;
    width: 90%;
    font-size: 15px;
}

.footerEmail{
    width: 46%;
    margin-left: auto;
}

.emailInput{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    align-items: center;
}

.emailInput input{
    width: 60%;
    background: transparent;
    border: none;
}

.emailInput a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.footerIcon{
    padding: 2% 14%;
}

.footerIcons p{
    text-align: center;
    padding-top: 1%;
}

.footerImages{
    justify-content: center;
    gap: 1%;
}

button,.clientReadMoreBtn{
    cursor: pointer;
    transition: 0.5s;
}

button:hover,.contactUsButton:hover{
    scale: 1.1;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    background-position: right center;
    color: black;
}

.clientReadMoreBtn:hover{
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    background-position: right center;
    color: black;
    scale: 1.1;
}





/* media query for the phone */
@media (max-width:440px) {

    .wHundredPercent{
        width: 100%;
    }

    .HamContent{ 
        display: block;
        flex-direction: column;
        position: fixed;
        background-color: black;
        padding: 11px 11px;
        gap: 2.1rem;
        z-index: 3000;
        right: -100%;
        transition: all 0.5s;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top:47px;
    } 

    .checkBtn{
        position: fixed;
        right: 3%;
    }

    #check:checked ~ .HamContent{
        right: 0;
    }

    .HamContent a{
        color: white;
    }

    .dPhoneHidden{
        display: none;
    }

    .dphoneVisible{
        display: block;
    }

    .navLeft {
        padding-left: 12%;
    }

    .topContainer {
        padding: 4% 8%;
    }

    .topContainerHeading {
        font-size: 16px;
        padding-bottom: 7%;
        text-align: center;
    }

    .topContainerHeading h1 {
        display: inline;
        z-index: 0;
    }

    .topContaninerPara {
        text-align: justify;
        word-break: break-all;
    }

    .contactUsButton {
        width: 50%;
        margin: auto;
    }

    .services {
        padding: 3% 8% 5% 8%;
    }

    .servicesText h2 {
        color: #ed1c24;
        font-weight: 600;
        font-size: 37px;
    }

    .servicesCardsContainer {
        flex-direction: column;
        gap: 2rem;
    }
    
    .serviceCard {
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding: 2% 1% 4% 1%;
    }

    .serviceImg {
        order: 2;
    }

    .cardHeading {
        order: 1;
    }

    .cardPara {
        order: 3;
        padding-bottom: 0;
    }

    .readMoreButton {
        order: 4;
        padding-top: 0%;
    }

    .readMoreButton button {
        font-size: 16px;
    }

    .cardHeading h2 {
        font-size: 26px;
    }

    .cardPara p {
        font-size: 16px;
        text-align: justify;
        word-break: break-all;
    }

    .serviceCardGap {
        padding-bottom: 2%;
    }

    .aboutContent{
        flex-direction: column;
    }

    .aboutContainer{
        padding: 3% 8% 4% 8%;
    }

    .aboutHiddenHeading{
        font-size: 37px;
        text-align: center;
        font-weight: 600;
    }

    .aboutRightContent{
        padding: 0;
        word-break: break-all;
    }

    .aboutLeftHiddenImg{
        padding-top: 3%;
    }

    .aboutContainerButton button{
        font-size: 16px;
        border-radius: 0;
    }

    .aboutContainerButton{
        display: flex;
        justify-content: center;
    }

    .conceptContainer{
        padding: 3% 8% 4% 8%;
    }

    .conceptCards{
        flex-direction: column;
        gap: 2rem;
    }

    .conceptContainerCenterText{
        padding-bottom: 2%;
    }

    .conceptContainerCenterText h1{
        font-weight: 600;
    }

    .whoWeAreContainer{
        padding: 4% 8% 6% 8%;
    }

    .whoWeAreContent{
        width: 100%;
        gap: 1.5rem;
    }

    .whoWeAreContentPara{
        word-break: break-all;
        font-size: 12px;
        text-align: justify;
    }

    .projects{
        padding: 3% 8% 3% 8%;
    }

    .projectImgContainer{
        flex-direction: column;
        gap: 1rem;
    }

    .projectsHeading{
        font-weight: 600;
    }

    .pojectImgPhoneHeight{
        height: 280px;
    }

    .projectsText{
        padding-bottom: 2%;
    }

    .clientReview{
        padding: 7% 8% 0% 8%;
    }

    .clientReviewHeading{
        line-height: 1;
    }

    .clientCards{
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .clientCardInfo p{
        display: inline;
        word-break: break-all;
    }

    .clientReadMoreBtn{
        position: relative;
        width: 42%;
        margin: auto;
        margin-top: 2rem;
    }

    .contactUsContainer{
        padding: 6% 8% 6% 8%;;
    }

    .formImgAndInput{
        flex-direction: column;
    }

    .footer{
        padding: 7% 8%;
    }

    .footerLeft,.footerRight,.footerCard,.footerContent{
        flex-direction: column;
        gap: 2.5rem;
    }

    .footerCard h2,.footerCard h3{
        padding-bottom: 3%;
        font-weight: 600;
        color: #b1b1b1;
    }

    .footerCard h3{
        font-size: 28px;
        padding-bottom: 2%;
    }

    .footerEmail{
        padding-top: 4%;
    }

    .footerIcon{
        padding: 2% 8%;
    }

    .footerIcons p{
        font-size: 12px;
        padding-top: 2%;
    }

    .footerCard p{
        width: 100%;
    }

    .footerCard{
        width: 100%;
    }
}



/* media query for tab */
@media (min-width:440px ) and (max-width:1180px){
    .projectLeftSlider{
        left: -5rem;
    }

    .projectRightSlider{
        right: -5rem;
    }

    .HamContent{
        display: block;
    }

    .HamContent{ 
        flex-direction: column;
        position: fixed;
        background-color: black;
        padding: 11px 11px;
        gap: 2.1rem;
        z-index: 3000;
        right: -100%;
        transition: all 0.5s;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top:47px;
    } 
    
    .checkBtn{
        position: fixed;
        right: 3%;
    }

    #check:checked ~ .HamContent{
        top:47px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.1rem;
        width: 100%;
    }

    .HamContent a{
        color: white;
    }

    .topContainerHeading h1{
        z-index: 1;
    }

    .aboutRightContent p{
        font-size: 8px;
    }

    .aboutRightContent h1{
        font-size: 21px;
    }
}











