@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap') */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}


.topContHiddenImg,.servicesText p,.aboutHiddenHeading,.aboutLeftHiddenImg {
    display: none;
}



html,body {
    height: 100%;
    width: 100%;
}

.firstContainer {
    position: relative;
    width: 100%;
    color: white;
}


.mainContainer {
    height: 100%;
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2% 3%;
    background-color: #ed1c24;
}

.navBox {
    height: 17px;
    width: 17px;
    position: absolute;
}

.navLeft {
    letter-spacing: 1px;
    padding-left: 4%;
    position: relative;
}

.navLeft h2 {
    font-size: 20px;
}

.boxOne {
    background-color: #ff7004;
    left: 0;
    z-index: 3;
    top: 0;
}

.boxTwo {
    background-color: #f4f3ee;
    left: 8%;
    z-index: 2;
    top: 33%;
}

.boxThree {
    background-color: #121111;
    left: 3%;
    top: 15%;
    z-index: 1;
}

.navRight span {
    display: block;
    border: 1.5px solid #f4f3ee;
    border-radius: 2px 2px 2px 2px;
}

.navRight {
    z-index: 1000;
}

.line {
    width: 32px;
}

.spanTwo {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 17px;
    margin-left: auto;
}

.topContainer {
    width: 100%;
    background-color: #ed1c24;
    padding: 8% 14% 13% 14%;
}

.topContainerContent {
    z-index: 1000;
}

.topContainerHeading {
    font-size: 60px;
    line-height: 0.9;
    z-index: 1000;
}

.topContainerHeading h1 {
    font-weight: 500;
    position: relative;
    z-index: 1000;
}

.topContaninerPara {
    padding: 3% 0 4% 0;
    width: 40%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
}

.contactUsButton {
    padding: 1% 0;
    width: 15%;
    text-align: center;
    background-color: #fefefe;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.contactUsButton a {
    color: black;
    font-size: 15px;
}

.topRightContainerImg {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
}

.imageArrow {
    position: absolute;
    width: 6%;
}

.imageRightArrowCont {
    left: 43%;
    bottom: 10%;
    background-color: #ed1c24;
    padding: 0.5% 0.1% 0.5% 4.2%;
}

.imageLeftArrowCont {
    bottom: 5.2%;
    left: 41%;
    background-color: #ab9d92;
    padding: 0.5% 0.1% 0.5% 4.2%;
    transform: rotate(180deg);
}

.zeroOneTextCont {
    position: absolute;
    bottom: 7%;
    width: 4%;
    text-align: center;
}

.zeroOneText {
    position: relative;
}

.zeoOneline {
    width: 100%;
    position: absolute;
    border: 1px solid white;
    left: 0;
    bottom: 47%;
}

.zeroOneTextContOne {
    left: 3%;
}

.zeroOneTextContTwo {
    right: 3%;
}

.zeroOneText p {
    font-size: 14px;
}


.services {
    color: black;
    padding: 6% 14% 8% 14%;
    text-align: center;
}

.servicesText {
    padding-bottom: 4%;
}

.services h2 {
    font-size: 33px;
    font-weight: 500;
}

.services p {
    font-size: 14px;
}

.servicesCardsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.serviceCard {
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviceImg {
    width: 33%;
}

.serviceCardGap {
    padding-bottom: 4%;
}

.cardHeading h2 {
    font-size: 17px;
}

.cardPara p {
    font-size: 13px;
    color: #b1b1b1;
}

.readMoreButton {
    padding-top: 4%;
}

.readMoreButton button {
    background-color: #ed1c24;
    color: white;
    border: none;
    padding: 4px 12px;
    font-size: 12px;
}

.aboutContainer{
    width: 100%;
    padding: 8% 14% 8% 16%;
    background-color: #f3f3f3;
}

.aboutContent{
    display: flex;
    justify-content: space-between;
}

.aboutLeft,.aboutRight{
    width: 46%;
    position: relative;
    background-color: #f3f3f3;
}


.aboutLeftBgImg{
    position: absolute;
    width: 100%;
    top: 5%;
    right: 5%;
}

.aboutLeftTopImg img{ 
    z-index: 1000;
    position: relative;
}

.aboutRightImg{
    position: absolute;
    top: -2%;
    left: 0;
    width: 100%;
}

.aboutRightContent{
    position: relative;
    /* z-index: 1000; */
    padding: 10% 2% 1% 8%;
}

.aboutRightContent h1{
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 3%;
}

.aboutRightContent p{
    font-size: 13px;
    padding-bottom: 6%;
    line-height: 1.7;
}


.aboutContainer button{
    float: right;
    color: white;
    background-color: #ed1c24;
    border: none;
    padding: 1% 4%;
    border-radius: 6px;
}

.circle{
    position: absolute;
    height: 10%;
    width: 9%;
    border-radius: 50%;
    z-index: 2000;
}

.red{
    background-color: red;
    left: -4%;
    top: -4%;
}

.orange{
    left: -4%;
    bottom: -1%;
    background-color: #ff7004;
}

.black{
    right: -5%;
    top: 39%;
    background-color: black;
}

.conceptContainer{
    width: 100%;
    padding: 6% 14% 6% 14%;
}

.conceptCards{
    display: flex;
    justify-content: space-between;
}

.conceptCrd{
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    cursor: pointer;
    position: relative;
}


.conceptContainerCenterText{
    text-align: center;
    padding-bottom: 8%;
}

.conceptContainerCenterText h1{
    font-weight: 500;
}

.conceptContainerCenterText p{
    /* font-family: "Noto Sans Glagolitic", sans-serif; */
    font-size: 14px;
}

.conceptCrdHeading h2{
    font-weight: bold;
    font-size: 15px;    
}

.conceptCrdPara {
    font-size: 12px;
    word-break: break-all;
}










@media (max-width:440px) {

    .topRightContainerImg,.imageArrow,.zeroOneTextCont,.aboutRightContent h1,.aboutRightImg,.aboutLeft,.conceptContainerCenterText p {
        display: none;
    }

    .topContHiddenImg,.aboutHiddenHeading,.aboutLeftHiddenImg{
        display: block;
        width: 100%;
    }



    
    .navLeft {
        padding-left: 12%;
    }

    .topContainer {
        padding: 4% 4%;
    }

    .topContainerHeading {
        font-size: 16px;
        padding-bottom: 4%;
        text-align: center;
    }

    .topContainerHeading h1 {
        display: inline;
    }

    .topContaninerPara {
        width: 100%;
        text-align: justify;
        word-break: break-all;
    }

    .contactUsButton {
        width: 50%;
        margin: auto;
    }

    .services {
        padding: 3% 4% 5% 4%;
    }

    .servicesText h2 {
        color: #ed1c24;
        font-weight: 600;
        font-size: 37px;
    }

    .servicesCardsContainer {
        flex-direction: column;
        gap: 2rem;
    }
    
    .serviceCard {
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding: 2% 1% 4% 1%;
    }

    .serviceImg {
        order: 2;
    }

    .cardHeading {
        order: 1;
    }

    .cardPara {
        order: 3;
        padding-bottom: 0;
    }

    .readMoreButton {
        order: 4;
        padding-top: 0%;
    }

    .readMoreButton button {
        font-size: 16px;
    }

    .cardHeading h2 {
        font-size: 26px;
    }

    .cardPara p {
        font-size: 16px;
        text-align: justify;
        word-break: break-all;
    }

    .serviceCardGap {
        padding-bottom: 2%;
    }

    .aboutContent{
        flex-direction: column;

    }

    .aboutContainer{
        padding: 3% 4% 4% 4%;
    }

    .aboutRight,.aboutLeft{
        width: 100%;
    }

    .aboutHiddenHeading{
        font-size: 37px;
        text-align: center;
        font-weight: 600;
    }

    .aboutRightContent{
        padding: 0;
        word-break: break-all;
    }

    .aboutLeftHiddenImg{
        padding-top: 3%;
    }

    .aboutContainerButton button{
        font-size: 16px;
        border-radius: 0;
    }

    .aboutContainerButton{
        display: flex;
        justify-content: center;
    }

    .conceptContainer{
        padding: 3% 4% 4% 4%;
    }

    .conceptCards{
        flex-direction: column;
        gap: 2rem;
    }

    .conceptCrd{
        width: 100%;
    }

    .conceptContainerCenterText{
        padding-bottom: 2%;
    }

    .conceptContainerCenterText h2{
        font-weight: 600;
    }


}










